.aboutExpert {
  margin: 20px;
}

.aboutExpert {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 130%;
  color: #272727;
  width: 90%;
  margin: 20px 0 0;
}

@media screen and (max-width: 1024px) {
  .aboutExpert {
    font-size: 12px;
    max-width: 173px;
  }
}

.aboutExpert > p {
  margin: 5px 0 0;
}

.aboutExpert__about {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 130%;
  color: #272727;
  margin: 15px 0 0;
}

@media screen and (max-width: 1024px) {
  .aboutExpert__about {
    font-size: 12px;
  }
}
