.banner {
  margin-top: 10px;
}

.banner__wrapper {
  position: relative;
  margin: 0 auto;
}

.banner__wrapper > div > img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.banner__wrapper > div:last-child {
  display: none;
}

@media screen and (max-width: 1024px) {
  .banner__wrapper > div:first-child {
    display: none;
  }
  .banner__wrapper > div:last-child {
    display: block;
  }
}

.bunner-logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* top: 30px;*/
  bottom: 60px;
  left: 12%;
}

@media screen and (max-width: 1024px) {
  .bunner-logo {
    bottom: 20px;
    left: 10px;
  }
}

.bunner-logo > button {
  width: 160px;
  height: 50px;
  background: linear-gradient(
    102.9deg,
    #32b8f8 3.56%,
    #2fe06b 47.5%,
    #32b8f8 92.36%
  );
  border-radius: 5px;
  border: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.bunner-logo > button:active {
  background: #009efd;
}

.bunner-logo {
  position: absolute;
}

.banner-pagination {
  position: absolute;
  bottom: 20px !important;
  width: auto !important;
  left: 12% !important;
  z-index: 10;
  cursor: pointer !important;
}

@media screen and (max-width: 1024px) {
  .banner-pagination {
    bottom: 10px !important;
    left: auto !important;
    right: 10px !important;
  }
}

.swiper-pagination-bullet {
  width: 11px !important;
  height: 11px !important;
  background-color: #fff !important;
}

.banner-buttons {
  position: absolute;
  top: 45%;
  z-index: 10;
  border: none;
  background: transparent;
  cursor: pointer;
}

.banner-button-next {
  right: 23px;
}

.banner-button-prev {
  left: 23px;
}

@media screen and (max-width: 768px) {
  .banner-buttons {
    display: none;
  }
}
