.blog {
  margin: 30px auto 0;
}

.blog__heading {
  font-family: "Gilroy";
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 17px;
  color: #272727;
  margin-top: 20px;
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .blog__heading {
    font-size: 14px;
  }
}

.blog__img {
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
}

.blog__headline {
  margin-top: 5px;
  width: 100%;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #5c5c5c;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .blog__headline {
    font-size: 10px;
  }
}

.blog__headline-left {
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .blog__headline-left {
    width: 150px;
  }
}

.blog__headline-left > p {
  margin: 0;
}

.blog__headline-right > p {
  margin: 0;
}

.blog__headline-right {
  display: flex;
  justify-content: space-between;
  width: 80px;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .blog__headline-right {
    width: 60px;
  }
}
