.blogs__time > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 12px;
  color: #5c5c5c;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .blogs__time > p {
    font-size: 16px;
  }
}

.blogs__text-headline {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #272727;
}

@media screen and (max-width: 1024px) {
  .blogs__text-headline {
    font-size: 14px;
  }
}

.blogs__text-paragraph {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #272727;
}

@media screen and (max-width: 1024px) {
  .blogs__text-paragraph {
    font-size: 12px;
  }
}

.blogs__text2 {
  width: 100%;
  background: #f4f4f4;
  padding: 15px 0 15px 0;
  margin: 15px 0 15px 0;
  box-sizing: border-box;
}

.s {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 60px;
}

@media screen and (max-width: 1440px) {
  .s {
    padding-left: 30px;
  }
}

.blogs__text2-wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.blogs__text2-wrapper1 {
  width: 95%;
  margin: 0 auto;
}
