.blog {
  margin: 30px auto 0;
}

.blog__block > h3 {
  font-family: "Gilroy";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #272727;
  margin-top: 20px;
  margin-bottom: 0;
}

.blog__block > img {
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
}

.blog__headline {
  margin-top: 17px;
  width: 100%;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #5c5c5c;
  display: flex;
  justify-content: space-between;
}

.blog__headline-left {
  display: flex;
  justify-content: space-between;
  width: 150px;
  align-items: center;
  cursor: pointer;
}

.blog__headline-left > p {
  margin: 0;
}

.blog__headline-right > p {
  margin: 0;
}

.blog__headline-right {
  display: flex;
  justify-content: space-between;
  width: 65px;
  align-items: center;
  cursor: pointer;
}
