.bonus {
  margin: 120px auto 0 auto;
}

@media screen and (max-width: 768px) {
  .bonus {
    margin: 30px auto 0 auto;
  }
}

.bonus > img {
  width: 100%;
}

.bonus-slider-img {
  width: 100%;
}

.bonus__text > h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  color: #272727;
}

@media screen and (max-width: 768px) {
  .bonus__text > h4 {
    font-size: 14px;
  }
}

.bonus__text {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .bonus__text {
    margin-top: 10px;
  }
}

.bonus__text > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #272727;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .bonus__text > p {
    font-size: 12px;
  }
}
.otherBonus > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  color: #272727;
}

@media screen and (max-width: 1024px) {
  .otherBonus > h3 {
    font-size: 16px;
  }
}

.bonus2 > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #5c5c5c;
}

@media screen and (max-width: 1024px) {
  .bonus2 > p {
    font-size: 10px;
  }
}

.bonus3 > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #272727;
}

.bonusGet {
  margin-top: 60px;
}

@media screen and (max-width: 1024px) {
  .bonusGet {
    margin-top: 15px;
  }
}

.bonusGet__block > h5 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  color: #272727;
  margin: 15px 0px 10px 0;
}

@media screen and (max-width: 1024px) {
  .bonusGet__block > h5 {
    font-size: 14px;
  }
}

.bonusGet__block > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #272727;
}

@media screen and (max-width: 1024px) {
  .bonusGet__block > p {
    font-size: 12px;
  }
}

.bonusGet__block > ul > li {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #272727;
}

@media screen and (max-width: 1024px) {
  .bonusGet__block > ul > li {
    font-size: 12px;
  }
}

.bonusGet__block > ul > li::marker {
  font-size: 6px;
}
