.description {
  margin: 0 auto;
}

.description > h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #272727;
}

.description__bet {
  height: 50px;
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.description__bet-left {
  display: flex;
  align-items: center;
}

.description__bet-left > img {
  width: 65px;
  height: 20px;
}

.description__bet-left > span {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #272727;
  margin-left: 33px;
}

.description__text {
  margin-top: 15px;
}

.description__text > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.forecast__buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 345px;
}

.forecast__buttonOne {
  display: flex;
  justify-content: flex-end;
  margin: 10px auto;
  width: 345px;
}

@media screen and (max-width: 345px) {
  .forecast__buttons {
    width: 100%;
  }
}
