.dropdown {
  position: relative;
  margin-top: 20px;
}

.dropdown__button {
  position: relative;
  display: block;
  width: 345px;
  height: 50px;
  text-align: left;
  background: #f4f4f4;
  border: none;
  border-radius: 6px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #272727;
  padding: 0 10px 0 10px;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .dropdown__button {
    width: 100%;
  }
}

.dropdown__button:focus,
.dropdown__button--active {
}

.dropdown__button::after {
  content: url("../images/stroke.png");
  transform: rotate(0deg);
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 30%;
}

.dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  top: 52px;
  margin: 0;
  list-style-type: none;
  background: #f4f4f4;
  overflow: hidden;
  width: 345px;
  z-index: 1;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #272727;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .dropdown__list {
    width: 100%;
  }
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item {
  margin: 0;
  padding: 0;
  padding: 13px 20px;
  cursor: pointer;
}

.dropdown__list-item:hover {
  color: #009efd;
}

.dropdown__input-hidden {
  display: none;
}
