.expertPage {
  display: flex;
  margin-top: 10px;
}

.expertPage__left {
  width: 300px;
}

@media screen and (max-width: 425px) {
  .expertPage__left {
    width: 50%;
  }
}

@media screen and (max-width: 424px) {
  .expertPage__left {
    width: 100%;
  }
}

.expertPage__left > img {
  width: 100%;
}

.expertPage__right {
  margin-left: 15px;
}

.expertPage__right > span {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #5c5c5c;
}

@media screen and (max-width: 768px) {
  .expertPage__right > span {
    font-size: 10px;
  }
}

.expertPage__right > h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  color: #272727;
  margin: 10px 0 0;
}

@media screen and (max-width: 768px) {
  .expertPage__right > h4 {
    font-size: 18px;
  }
}

.expertPage__right > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #272727;
  margin: 5px 0 0;
}

@media screen and (max-width: 768px) {
  .expertPage__right > p {
    font-size: 12px;
  }
}

.expertPage__right > a > img {
  margin-top: 5px;
}
