.expertCard__grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  padding: 10px 0px 0px 0px;
}

.expertCard__grid > div {
  text-align: left;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #272727;
  text-align: start;
}

@media screen and (max-width: 768px) {
  .expertCard__grid > div {
    font-size: 12px;
  }
}

.content__switch {
  display: flex;
  justify-content: space-between;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #272727;
  margin-top: 5px;
  padding-left: 10px;
  width: 130px;
}

/*табы */
.expertCard__tabs {
  width: 350px;
  margin: 30px 0;
}

@media screen and (max-width: 1023px) {
  .expertCard__tabs {
    margin: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .expertCard__tabs {
    width: 230px;
  }
}

.expertCard__tabs > label {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #5c5c5c;
}

.expertCard__tabs > input[type="radio"] {
  display: none;
}

.expertCard__tabs > input[type="radio"]:checked + label {
  font-weight: bold;
  cursor: default;
  text-decoration: underline;
}

.expertCard__tabs > div {
  display: none;
}

#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3,
#tab-btnBig-3:checked ~ #content-3,
#tab-btnBig-4:checked ~ #content-4 {
  display: block;
}

.expertCard__tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 2px 0;
  font-size: 14px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out;
  margin-left: 6px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .expertCard__tabs > label {
    font-size: 10px;
  }
}

.expertCard__tabs > label:first-of-type {
  margin-left: 0;
}

/******************************************/
.container {
  width: 100%;
  background: #f4f4f4;
  border-radius: 5px;
}

.expertCard__accordion {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #272727;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 70px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .expertCard__accordion {
    height: 50px;
  }
}

.expertCard__accordion-label {
  display: flex;
  align-items: center;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #272727;
}

@media screen and (max-width: 768px) {
  .expertCard__accordion-label {
    font-size: 14px;
  }
}

.expertCard__accordion-label > span {
  margin-left: 10px;
}

.expertCard__accordion::after {
  content: url("../images/stroke.png");
  position: absolute;
  right: 20px;
}

.expertCard__accordion.active::after {
  content: url("../images/stroke.png");
  transform: rotate(180deg);
}

/**************/

.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.answer {
  padding: 0 15px 15px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .author__text {
    padding: 0 10px 10px;
  }
}

.answercont-wrap {
  padding: 20px 15px 20px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 20px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "input1 input2"
    ". calculation"
    "result1 result2";
}

@media screen and (max-width: 768px) {
  .answercont-wrap {
    gap: 5px 10px;
    grid-template-rows: 1fr 0.8fr 1fr;
  }
}

.input1 {
  grid-area: input1;
  width: 100%;
}

.input2 {
  grid-area: input2;
  width: 100%;
}

.calculation {
  grid-area: calculation;
}

.result1 {
  grid-area: result1;
}

.result2 {
  grid-area: result2;
}

.answercont__wrap-input1 {
  background: #f4f4f4;
  border-radius: 10px;
  border: 1px solid #009efd;
  box-sizing: border-box;
  width: 100%;
  height: 67px;
  display: flex;
  align-items: center;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #272727;
  padding-left: 40%;
}

.answer__inputBlocks {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.answer__buttonBlocks-block {
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
}

.answercont__span {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #5c5c5c;
}

@media screen and (max-width: 768px) {
  .answercont__span {
    font-size: 10px;
  }
}

.answercont__input {
  width: 100%;
  height: 67px;
  border: 1px solid #009efd;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #272727;
  background: #f4f4f4;
}

@media screen and (max-width: 768px) {
  .answercont__input {
    height: 40px;
  }
}

.result__block {
  width: 100%;
  height: 67px;
  border: 1px solid #009efd;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding-top: 7%;
}

@media screen and (max-width: 768px) {
  .result__block {
    height: 40px;
    padding-top: 3%;
  }
}
