.experts {
  margin: 30px auto 0;
}

.experts__slider {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.experts__slider-block {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .experts__slider-block {
    width: 98px;
  }
}

.experts__slider-block > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #272727;
  word-wrap: break-word;
  margin: 10px 0 10px 0;
}

.headlineBlocks__wrapper-cards > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #272727;
  margin: 5px 0px 5px 0px;
}
