.forecast {
  margin: 25px auto 0;
}

.forecast__image {
  margin: 20px auto 0;
  position: relative;
}

.forecast__image > img {
  width: 100%;
  border-radius: 5px;
}
.forecast__wrapperBlock {
  position: absolute;
  bottom: -10px;
  left: 5px;
  display: flex;
  justify-content: space-between;
  width: 255px;
}

.forecast__icons > img {
  box-shadow: 0 5px 5px -5px #c4c4c4;
}

.forecast__wrapperBlock2 {
  display: flex;
  justify-content: space-between;
  width: 115px;
  margin-top: 10px;
}

.forecast__image-border {
  display: flex;
  width: 56px;
  height: 22px;
  background: #009efd;
  border-radius: 5px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  box-sizing: border-box;
  align-items: center;
  padding-left: 10%;
}

.forecast__image-border > img {
  margin-right: 5px;
}

.backgroundColor-white {
  background-color: #ffffff;
}

.color {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #009efd;
}

.forecast__headline {
  margin-top: 17px;
  width: 100%;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  color: #5c5c5c;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .forecast__headline {
    font-size: 10px;
  }
}

.banner__wrapper > button:active {
  background: #009efd;
}

.forecast__headline-left {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

@media screen and (max-width: 1024px) {
  .forecast__headline-left {
    width: 170px;
  }
}

.forecast__headline-left > p {
  margin: 0;
}

.forecast__headline-right > p {
  margin: 0;
}

.forecast__headline-right {
  display: flex;
  justify-content: space-between;
}

.forecast__match {
  margin-top: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.forecast__match > h4 {
  margin: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  color: #272727;
}

@media screen and (max-width: 1024px) {
  .forecast__match > h4 {
    font-size: 18px;
  }
}

.forecast__match > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #272727;
  margin: 5px 0 0 0;
}

.forecast__match-block {
  display: flex;
  align-items: center;
}

.forecast__match-block > img {
  height: 42px;
}

.forecast__match-block > p {
  margin: 0 0 0 10px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #272727;
  text-align: start;
}

@media screen and (max-width: 1024px) {
  .forecast__match-block > p {
    font-size: 12px;
  }
}

progress {
  display: block;
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  height: 2px;
  background-color: #f4f4f4;
}
progress::-webkit-progress-bar {
  border-radius: 5px;
  background-color: #f4f4f4;
}

progress::-moz-progress-bar {
  border-radius: 5px;
  background-color: #f4f4f4;
}

progress::-webkit-progress-value {
  border-radius: 5px;
  background-color: #1daf38;
}
progress::-moz-progress-value {
  border-radius: 5px;
  background-color: #1daf38;
}

.forecast__match-block1 > img {
  width: 50px;
  height: 50px;
}

.forecast__icons {
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.forecast__icons > img {
  width: 50px;
}

.news__allnews {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  color: #272727;
}

@media screen and (max-width: 1024px) {
  .news__allnews {
    font-size: 18px;
  }
}
