@media screen and (max-width: 1439px) {
  .forecast__slider-block > a > svg {
    width: 90%;
    height: 90%;
  }
}

@media screen and (max-width: 425px) {
  .forecast__slider-block > a > svg {
    width: 50px;
    height: 50px;
  }
}

.startWraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gridContainer {
  max-width: 1440px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px 20px;
  grid-template-areas:
    "left right"
    "button button";
}

.left {
  grid-area: left;
}
.right {
  grid-area: right;
  position: relative;
}
.button {
  grid-area: button;
}

@media screen and (max-width: 1023px) {
  .gridContainer {
    display: none;
  }
}

.flexContainer {
  display: none;
}

@media screen and (max-width: 1023px) {
  .flexContainer {
    display: block;
  }
}

/***************************/

.forecast__blockhedline {
  display: grid;
  grid-template-columns: 152px 1fr;
  gap: 10px 94px;
  grid-auto-flow: row;
  grid-template-areas:
    "one two"
    "three four";
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #5c5c5c;
}

@media screen and (max-width: 1280px) {
  .forecast__blockhedline {
    margin-top: 20px;
    gap: 10px 24px;
  }
}

@media screen and (max-width: 768px) {
  .forecast__blockhedline {
    gap: 5px 20px;
    font-size: 12px;
    grid-template-columns: 130px 1fr;
  }
}

@media screen and (max-width: 375px) {
  .forecast__blockhedline {
    gap: 5px 10px;
    font-size: 10px;
    grid-template-columns: 105px 1fr;
  }
}

.forecast__blockhedline__one {
  grid-area: one;
}

.forecast__blockhedline__two {
  grid-area: two;
}

.forecast__blockhedline__three {
  grid-area: three;
}

.forecast__blockhedline__four {
  grid-area: four;
}

.forecast {
  margin: 120px auto 0;
}

@media screen and (max-width: 768px) {
  .forecast {
    margin: 25px auto 0;
  }
}

.forecast__image {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.forecast__image > img {
  width: 100%;
  border-radius: 5px;
}

.forecast__wrapperBlock {
  position: absolute;
  bottom: -10px;
  left: 5px;
  display: flex;
  justify-content: space-between;
  width: 255px;
}

.forecast__icons > img {
  box-shadow: 0 5px 5px -5px #c4c4c4;
}

.forecast__wrapperBlock2 {
  display: flex;
  justify-content: space-between;
  width: 115px;
  margin-top: 10px;
}

.forecast__image-border {
  display: flex;
  width: 56px;
  height: 22px;
  background: #009efd;
  border-radius: 5px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  box-sizing: border-box;
  align-items: center;
  padding-left: 10%;
}

.forecast__image-border > img {
  margin-right: 5px;
}

.backgroundColor-white {
  background-color: #ffffff;
}

.color {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #009efd;
}

.forecast__headline {
  margin-top: 17px;
  width: 100%;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #5c5c5c;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .forecast__headline {
    font-size: 10px;
  }
}

.news__headlines {
  width: 100%;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #5c5c5c;
  display: flex;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .news__headlines {
    font-size: 10px;
  }
}

.forecast__headline2 {
  margin-top: 5px;
  width: 80%;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #5c5c5c;
  display: flex;
  justify-content: space-between;
}

/**/
.news__headline-left {
  float: left;
  margin-right: 10px;
  white-space: nowrap;
}

.news__headline-right {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/**/

.banner__wrapper > button:active {
  background: #009efd;
}

.forecast__matchBlock {
  margin-top: 20px;
  bottom: 0;
}

.forecast__match {
  margin: 15px 0 15px 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: start;
}

@media screen and (max-width: 1023px) {
  .forecast__match {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .forecast__match {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .forecast__match {
    width: 100%;
  }
}

.forecast__block {
  position: absolute;
  bottom: 0;
}

.forecast__match > h4 {
  margin: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  color: #272727;
}

@media screen and (max-width: 1024px) {
  .forecast__match > h4 {
    font-size: 18px;
  }
}

.forecast__match > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #272727;
  margin: 5px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .forecast__match > p {
    font-size: 12px;
  }
}

.forecast__match-block {
  display: flex;
  align-items: center;
}

.forecast__match-block > img {
  height: 42px;
}

.forecast__match-block > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #272727;
  text-align: start;
  margin-left: 10px;
}

@media screen and (max-width: 1024px) {
  .forecast__match-block > p {
    font-size: 12px;
  }
}

progress {
  display: block;
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  height: 2px;
  background-color: #f4f4f4;
}
progress::-webkit-progress-bar {
  border-radius: 5px;
  background-color: #f4f4f4;
}

progress::-moz-progress-bar {
  border-radius: 5px;
  background-color: #f4f4f4;
}

progress::-webkit-progress-value {
  border-radius: 5px;
  background-color: #1daf38;
}
progress::-moz-progress-value {
  border-radius: 5px;
  background-color: #1daf38;
}

.forecast__match-block1 > img {
  width: 50px;
  height: 50px;
}

.forecast__icons {
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.forecast__icons > img {
  width: 50px;
}

.news__allnews {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  color: #272727;
}

@media screen and (max-width: 1024px) {
  .news__allnews {
    font-size: 18px;
  }
}

.buttons-none {
  width: 70px;
  justify-content: space-between;
  display: flex;
}

.match__wrap {
  width: 50%;
}

@media screen and (max-width: 1023px) {
  .match__wrap {
    width: 100%;
  }
}
