.headlineBlocks__wrapper {
  margin: 0 auto;
  width: 95%;
}

.headlineBlocks__headline {
  display: flex;
  align-items: center;
}

.headlineBlocks__headline a > h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 22px;
  color: #272727;
  margin: 0 10px 0 0;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .headlineBlocks__headline a > h4 {
    font-size: 18px;
  }
}

.headlineBlocks__headline > a > h4:active {
  color: #009efd;
}

.headlineBlocks__headline > a > h4:hover {
  text-decoration: underline;
}

.headlineBlocks__headline > a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 12px;
  color: #5c5c5c;
  text-decoration: none;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 1024px) {
  .headlineBlocks__headline > a {
    font-size: 10px;
  }
}

.headlineBlocks__headline > a:active {
  color: #009efd;
}

.headlineBlocks__headline > a:hover {
  text-decoration: underline;
}

.headlineBlocks__headline > img {
  width: 30px;
  height: 8px;
}

/**************/

.headlineBlocks__forecastPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.headlineBlocks__forecastPage-left > h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #272727;
  margin: 0 0 0 10px;
  cursor: pointer;
}

.headlineBlocks__forecastPage-left > h4:active {
  color: #009efd;
}

.headlineBlocks__forecastPage-left > h4:hover {
  text-decoration: underline;
}

.headlineBlocks__forecastPage-left {
  display: flex;
  align-items: center;
}

.headlineBlocks__forecastPage-left {
  width: 220px;
  height: 22px;
}
