.max {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  box-sizing: border-box;
  padding: 24px 0px 24px 0px;
}

.min {
  display: none;
}

@media screen and (max-width: 1440px) {
  .header > div {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .max {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .min {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header {
  background-color: #272727;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
  .header > div {
    width: 95%;
  }
}

nav {
  display: flex;
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    background-color: #272727;
  }
}

.header__right {
  width: 40px;
  display: flex;
  justify-content: space-between;
}

.header__right > img {
  width: 35px;
  height: 20px;
}

.header-btn {
  display: flex;
}

.header-btn > img {
  margin-right: 10px;
}

/* lang*/
.change-lang {
  background: #272727;
  border: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus {
  background-color: #272727;
  border: 0;
}

.change-lang {
  padding: 5px;
}

/********Middle*************/

.header__middle {
  display: flex;
  width: 100%;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header__middle {
    display: none;
  }
}
/******MIN******/

@media screen and (max-width: 768px) {
  nav {
    background-color: #272727;
    padding: 15px 10px;
  }
  nav > ul {
    display: none;
  }
  nav li {
    display: flex;
    vertical-align: top;
  }
  nav a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    transition: 0.3s;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  nav label {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
  }

  .acor-container1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
  }

  .acor-container1:target {
    display: block;
    opacity: 1;
    z-index: 10;
  }

  .acor-container1-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    cursor: default;
  }

  .acor-container {
    position: absolute;
    z-index: 10;
    background-color: #272727;
    top: 60px;
    left: 0px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid black;
    padding: 25px;
  }

  .acor-container .acor-body {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    color: rgba(0, 0, 0, 0);
    line-height: 18px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10;
    margin: 0 0 10px;
  }

  .acor-body > ul {
    padding: 0;
  }

  .acor-container label {
    cursor: pointer;
    padding: 5px 5px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
  }
  .acor-container label:hover {
    color: rgba(255, 255, 255);
  }

  .acor-container input {
    display: none;
  }
  .acor-container label:before {
    content: "\276F";
    float: right;
    margin-left: 10px;
  }
  .acor-container input:checked + label {
    color: rgba(255, 255, 255);
    opacity: 1;
  }
  .acor-container input:checked + label:before {
    transition: transform 0.35s;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }
  .acor-container input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 5px 5px 5px;
  }

  .acor-links {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
  }

  .acor-links > a {
    padding: 10px 5px;
    opacity: 0.6;
  }
}

/********MAX****************/
nav {
  width: 90%;
  display: flex;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  nav {
    width: 90%;
  }
}

nav .nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}
nav .nav-bar .nav-bar_item {
  list-style-type: none;
  padding: 0px 20px;
}

@media screen and (max-width: 1100px) {
  nav .nav-bar .nav-bar_item {
    padding: 0px 15px;
  }
}

nav .nav-bar .dropdown {
  position: relative;
}
nav .nav-bar .dropdown:after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 7px;
  height: 7px;
  cursor: pointer;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

@media screen and (max-width: 1100px) {
  nav .nav-bar .dropdown:after {
    top: 2px;
    width: 5px;
    height: 5px;
  }
}

nav .nav-bar .dropdown:hover:after {
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  top: 10px;
}

@media screen and (max-width: 1100px) {
  nav .nav-bar .dropdown:hover:after {
    top: 5px;
  }
}
nav .nav-bar .dropdown .project {
  position: absolute;
  background-color: #272727;
  padding: 30px 10px 10px 10px;
  top: 30px;
  left: 0;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
}
nav .nav-bar .dropdown:hover .project {
  height: auto;
  z-index: 10;
  visibility: visible;
}

nav .nav-bar .dropdown .project .drop-item {
  list-style-type: none;
  margin-bottom: 10px;
}
nav .nav-bar .nav-bar_item a {
  position: relative;
  display: block;
  padding-bottom: 5px;
  color: #fff;
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 1100px) {
  nav .nav-bar .nav-bar_item a {
    font-size: 12px;
  }
}

nav .nav-bar .nav-bar_item a:after {
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
nav .nav-bar .nav-bar_item a:hover:after {
  width: 100%;
}

nav .nav-bar .colorBlue:after {
  border-left: 2px solid #009efd !important;
  border-bottom: 2px solid #009efd !important;
}
