.matchCenter > h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #272727;
}

.matchCenter__block {
  display: flex;
  justify-content: space-between;
  max-width: 345px;
  margin: 15px auto 0 auto;
}

@media screen and (max-width: 768px) {
  .matchCenter__block {
    margin: 5px auto 0 auto;
  }
}

.matchCenter__block-right {
  display: flex;
  flex-direction: column;
  max-width: 157px;
}

.matchCenter__block-left-description {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #5c5c5c;
  width: 183px;
}

.matchCenter__block-left-logos {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.matchCenter__block-left-logos-logo {
  display: flex;
  width: 89px;
  height: 133px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.matchCenter__block-left-logos-logo > img {
  margin: 20px auto;
  width: 67px;
  height: 94px;
}

.matchCenter__text {
  margin-top: 20px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #272727;
}

@media screen and (max-width: 1024px) {
  .matchCenter__text {
    font-size: 12px;
  }
}

.matchCenter__text > p {
  margin: 0px 0px 5px 0px;
}
