.forecastNavWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .forecastNavWrap {
    flex-direction: column;
  }
}

.forecastSliderWrap {
  width: 550px;
  /* margin: 0 auto;*/
}

@media screen and (max-width: 1000px) {
  .forecastSliderWrap {
    margin: 20px auto 0 auto;
    width: 460px;
  }
}

@media screen and (max-width: 525px) {
  .forecastSliderWrap {
    margin: 20px 0 0 0;
    width: 90%;
  }
}

.btnSlider {
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  align-items: center;
  border: none;
  height: 30px;
}

.navigation__link-deactive > a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-decoration: none;
  color: #5c5c5c;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .navigation__link-deactive > a {
    font-size: 12px;
  }
}

.navigation__link-deactive {
  background: #f4f4f4;
}

.navigation__link-active {
  background: #009efd;
}

.navigation__link-active > a {
  color: #f4f4f4;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .navigation__link-active > a {
    font-size: 12px;
  }
}

.navigation > button {
  border: none;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
