.forecastSliderWrap {
  width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 375px) {
  .forecastSliderWrap {
    width: 300px;
  }
}

.btnSlider {
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  align-items: center;
  border: none;
  height: 30px;
}

.navigation__link-deactive > a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-decoration: none;
  color: #5c5c5c;
  white-space: nowrap;
}

.navigation__link-deactive {
  background: #f4f4f4;
}

.navigation__link-active {
  background: #009efd;
}

.navigation__link-active > a {
  color: #f4f4f4;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-decoration: none;
}
