.news {
  margin: 100px auto 0 auto;
}

@media screen and (max-width: 768px) {
  .news {
    margin: 30px auto 0 auto;
  }
}

.news > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #272727;
}

.news__headline {
  width: 240px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  color: #5c5c5c;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .news__headline {
    font-size: 10px;
    width: 184px;
  }
}

.news__headline-block {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.news__headline-block > span {
  margin-right: 5px;
}

.news__headline-block > button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.news__headline-block > img > button {
  height: 100%;
  width: 16px;
}

/* страница прогнозов*/
.news__forecast {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #272727;
}

.news__wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .news__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 20px;
  }
}

.headlineBlocks__wrapper-cards {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .headlineBlocks__wrapper-cards {
    margin-bottom: 16px;
  }
}

.news__wrapper-block {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .news__wrapper-block {
    margin-top: 20px;
  }
}
