.otherNews {
  margin: 30px 0 30px 0;
}

.otherNews > h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  color: #272727;
}

@media screen and (max-width: 1024px) {
  .otherNews > h4 {
    font-size: 18px;
  }
}
