.otherExperts {
  margin-top: 60px;
}

@media screen and (max-width: 1024px) {
  .otherExperts {
    margin-top: 30px;
  }
}

.otherExperts > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  color: #272727;
}

@media screen and (max-width: 768px) {
  .otherExperts > h3 {
    font-size: 18px;
  }
}

.otherExperts > h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  color: #272727;
}

@media screen and (max-width: 1024px) {
  .otherExperts > h4 {
    font-size: 18px;
  }
}

.otherExperts__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .otherExperts__cards {
    margin-top: 30px;
  }
}

@media screen and (max-width: 375px) {
  .otherExperts__cards {
    flex-direction: column;
    width: 158px;
    margin: 20px auto;
  }
}

.otherExperts__cards > div {
  margin-right: 10px;
}

@media screen and (max-width: 375px) {
  .otherExperts__cards > div {
    margin-right: 0px;
  }
}
