.schedule {
  margin-top: 10px;
}

.schedule > img {
  width: 100%;
}

.schedule > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #272727;
}
