.share {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
}

.share > h5 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  color: #5c5c5c;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .share > h5 {
    font-size: 10px;
  }
}

.share__icons {
  display: flex;
  width: 110px;
}

.share__icons > a {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 20px;
}

.icon > path:hover {
  fill: #009efd;
}

.icon > rect:hover {
  fill: #009efd;
}
