@import "./header.css";
@import "./banner.css";
@import "./forecast.css";
@import "./experts.css";
@import "./news.css";
@import "./today.css";
@import "./bonus.css";
@import "./blog.css";
@import "./feedback.css";
@import "./expertCard.css";
@import "./tag.css";
@import "./share.css";
@import "./description.css";
@import "./expertsCards.css";
@import "./expertPage.css";
@import "./navigation.css";
@import "./aboutExpert.css";
@import "./otherExperts.css";
@import "./schedule.css";
@import "./forecastBlog.css";
@import "./dropDown.css";
@import "./mainNews.css";
@import "./match-center.css";
@import "./expertNav.css";
@import "./blogs.css";
@import "./tables.css";
@import "./footer.css";

@import "./swiper-bundle.css";
@import "./headlineBlocks.css";
@import "./normalize.css";
@import "../vendor/fonts.css";

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background: white;
}

.swiper {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.buttons-none > button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.mt12040 {
  margin-top: 200px;
}

@media screen and (max-width: 768px) {
  .mt12040 {
    margin-top: 40px;
  }
}

.mt6030 {
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .mt6030 {
    margin-top: 30px;
  }
}

.mt60 {
  margin-top: 60px;
}

.mt30 {
  margin-top: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mt15 {
  margin-top: 15px;
}

.mtmb5 {
  margin: 5px 0px 5px 0;
}

.mtHa {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .mtHa {
    margin-top: 20px;
  }
}

/******кнопки*********/
.button160 {
  width: 160px;
  height: 50px;
  background: #009efd;
  border-radius: 5px;
  border: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.button215 {
  width: 215px;
  height: 67px;
  background: #009efd;
  border-radius: 5px;
  border: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .button215 {
    font-size: 12px;
  }
}

.button100 {
  width: 100%;
  height: 67px;
  background: #009efd;
  border-radius: 5px;
  border: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .button100 {
    height: 50px;
    font-size: 12px;
  }
}

.button100:active {
  background: linear-gradient(
    102.9deg,
    #32b8f8 3.56%,
    #2fe06b 47.5%,
    #32b8f8 92.36%
  );
}

.button215:active {
  background: linear-gradient(
    102.9deg,
    #32b8f8 3.56%,
    #2fe06b 47.5%,
    #32b8f8 92.36%
  );
}

.button160:active {
  background: linear-gradient(
    102.9deg,
    #32b8f8 3.56%,
    #2fe06b 47.5%,
    #32b8f8 92.36%
  );
}

.buttonYes {
  width: 48%;
  height: 55px;
  border-radius: 5px;
  background: white;
  border: 1px solid #1daf38;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  text-align: center;
  color: #1daf38;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .buttonYes {
    font-size: 12px;
    height: 50px;
  }
}

.buttonYes:active {
  background: #1daf38;
  color: white;
}

.buttonNo {
  width: 48%;
  height: 55px;
  border-radius: 5px;
  background: white;
  border: 1px solid #f44242;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  text-align: center;
  color: #f44242;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .buttonNo {
    font-size: 12px;
    height: 50px;
  }
}

.buttonNo:active {
  background: #f44242;
  color: white;
}

.buttonWhite {
  width: 100%;
  /*  max-width: 157px;*/
  height: 50px;
  background: white;
  border-radius: 5px;
  border: 1px solid #009efd;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #009efd;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .buttonWhite {
    font-size: 12px;
  }
}

.buttonWhite:active {
  background: #009efd;
  color: white;
}

.feedback__text {
  margin-top: 15px;
}

.feedback__text > h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #272727;
}

.feedback__text > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #272727;
}

/*clock label*/

.clock__label {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  width: 180px;
  height: 30px;
  background: #009efd;
  border-radius: 5px;
  color: white;
  box-sizing: border-box;
  align-items: center;
  top: 5px;
  left: 5px;
}

@media screen and (max-width: 1024px) {
  .clock__label {
    width: 130px;
    height: 22px;
  }
}

.clock__label > img {
  width: 15px;
}

@media screen and (max-width: 1024px) {
  .clock__label > img {
    width: 12px;
  }
}

.clock__label > span {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .clock__label > span {
    font-size: 10px;
  }
}

/******Forecast button slider*******/
.forecast1__slider-block > button {
  height: 30px;
  background: #f4f4f4;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  border: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: #5c5c5c;
}

.last > button {
  width: 200px;
}

.newsHr {
  color: #f4f4f4;
  opacity: 0.3;
}

.headline {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #272727;
}
