.hr {
  margin-top: 30px;
  background: #f4f4f4;
  opacity: 0.3;
}

.tag {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
}

.tag__block > button:hover {
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.tag__block > button:active {
  background: #009efd;
  color: #f4f4f4;
}

.tag__block > button {
  border: none;
  height: 30px;
  background: #f4f4f4;
  border-radius: 5px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 12px;
  color: #009efd;
  padding: 0px 10px 0px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0px 15px 5px 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .tag__block > button {
    font-size: 10px;
    height: 22px;
  }
}
